  <div class="navbar main white">
    <div class="container">

      <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-top-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="navbar-brand" href="#"><span class="icon-star"></span>Brand</a>

      <!-- Place everything within .navbar-collapse to hide it until above 768px -->
      <div class="navbar-top-collapse nav-collapse navbar-responsive-collapse collapse">
        <form class="navbar-form pull-right">
          <button class="btn green-bg btn-default">
            Signup
          </button>
          <button class="btn blue-bg btn-default">
            Sign In
          </button>
        </form>
      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->