  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 clearfix">
          <h1 class="text-center">
            Welcome to the sample app.
          </h1>
          <form class="search-main col-lg-6 col-lg-offset-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Baby" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="icon-search"></span>
                </button>
              </span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, dignissimos, possimus aliquam corporis nemo eligendi magni sed fuga ab aliquid iure expedita. Modi, a mollitia illum molestias enim magnam quaerat.</p>
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>